@charset "utf-8";
/* CSS Document */
@import url("blocks.css");

body{
	font: 0.9em Tahoma, Verdana, Arial;
/*
	line-height:172%;
*/
	background: #ddd;
}

a{
	color:blue;
}

h1{
	font-size:20px;
}
h2{
	font-size:16px;
}

h1,h2,h3,h4{
	margin: 0;
}

ul{
	padding: 0;
}

ul li{
	display: inline-block;
	padding: 15px;
	list-style: none;
}

/* Css for Part2 */

hr{
	margin: 12px 0;
	height: 1px;
	border: 1px solid #fff;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

textarea{
	width: 500px;
	height: 150px;
}

.obs{
	font-size:80%;
	color:#999;
}

.clear{
	clear: both;
}

.list{
	width:98%;
	border:1px solid #CCC;
	padding:5px;
	margin-bottom:5px;
}

